<div class="img-container row">
    <div class="col">
        <img class="bg-img" src="assets/img/googleHome.webp" alt="">
    </div>
    <div class="col align-self-center">
        <div class="row">
            <div class="col align-self-center">
                <img class="home-img"  src="assets/img/home.png">

            </div>
            <div class="col align-self-center">
                <h1>Welcome</h1>
                <button type="button" class="btn btn-primary" routerLink="/email">Take Me In</button>

            </div>
        </div>
       
    </div>
</div>